<section id="team" class="section-bg">
    <div class="container">
      <div class="section-header">
        <h3>Act&Rule</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
  <a href="../../assets/it_amendment_act2008.pdf"> <img src="../../assets/img/infotech.jpg" class="img-fluid" alt=""></a>
            <div class="member-info">
              <div class="member-info-content">
                <h4>Information-</h4>
                <span>Technology</span>  
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
         <a href="../../assets/Seed_Rule_1968.pdf">   <img src="../../assets/img/seeds.jpg" class="img-fluid" alt=""></a>
            <div class="member-info">
              <div class="member-info-content">
                <h4>Seed</h4>
                <span>Rule_1968</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
          <a href="../../assets/plant-data_0.pdf"> <img src="../../assets/img/plant.jpg" class="img-fluid" alt=""></a> 
            <div class="member-info">
              <div class="member-info-content">
                <h4>Plant</h4>
                <span>Data_01</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
        <a href="../../assets/agric-contract_farm2018_0.pdf">    <img src="../../assets/img/agriculture.jpg" class="img-fluid" alt=""></a>
            <div class="member-info">
              <div class="member-info-content">
                <h4>Agricultural </h4>
                <span>Marketing_033</span>
                <!-- <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
